@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

body {
	margin: 0;
	font-family: Montserrat;
}

.header {
	box-sizing: border-box;
	padding: 30px 0 150px;
	height: 100vh;
	background-image: url(../img/header-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;

	// .header__top

	&__top {
		display: flex;
		justify-content: space-between;
		box-sizing: border-box;
		padding: 5px 0;
		margin: 30px 0 20px;
		a {
			color: #fff;
			text-decoration: none;
		}
	}
	&__address {
		font-weight: 500;
		font-size: 13px;
		line-height: 150%;
	}

	// .header__table

	&__table {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		margin-bottom: 450px;
		a{
			color: #fff;
			text-decoration: none;
		}
	}
}
.content-Wrapper {
	max-width: 1110px;
	margin: 0 auto;
}
.table-cell {
	text-align: center;
	border: 1px solid #fff;
	padding: 13px 0;
}

.table-cell:first-child {
	border-left: none;
}

.table-cell:last-child {
	border-right: none;
}

.btn {
	padding: 15px 30px;
	background-color: #99862A;
	color: #fff;
	border: none;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 5%;
	cursor: pointer;
}
.btn-1 {
	margin-left: 305px;
	margin-right: 45px;

}
.btn-2 {

}


// section taste

.taste {
	padding: 100px 0;
	color: #fff;
	background-color: #282828;
	// .taste_title

	&_title {
		text-align: center;
		margin-bottom: 40px;
		font-family: 'Playfair Display';
		font-weight: 700;
		font-size: 36px;
		line-height: 150%;
	}

	// .taste_image

	&_image {
	}

	// .taste__area

	&__area {
		padding: 60px 0;
		border: 3px solid #C4C4C4;
	}

	// .taste__content

	&__content {
		margin: 0 auto;
		max-width: 750px;
		text-align: center;
	}

	// .taste__line

	&__line {
		margin-bottom: 40px;
		hr {
			width: 160px;
			height: 1px solid #fff;
		}
	}

	// .taste__text

	&__text {
		text-align: center;
		font-size: 16px;
		line-height: 150%;
		margin-bottom: 50px;
	}
}


// section news

.news {
	padding: 80px 0;

	// .news__content

	&__content {
		display: grid;
		grid-template: 1fr / repeat(2, 1fr);
		border-top: 1px solid #998431;
		border-bottom: 1px solid #998431;
		padding: 50px 0;
	}

	// .news__left

	&__left {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		
	}

	// .news__subtitle

	&__subtitle {
		margin: 0;
		font-size: 16px;
		font-weight: 400;
		line-height: 150%;
	}

	// .news__title

	&__title {
		max-width: 300px;
		color: #282828;
		font-family: 'Playfair Display';
		font-weight: 700;
		font-size: 36px;
		line-height: 150%;

	}

	// .news__line

	&__line {
		height: 1px;
		color: #282828;
		width: 180px;
		margin-left: 0;
	}

	// .news__text

	&__text {
		max-width: 445px;
		font-size: 14px;
		line-height: 150%;

	}

	// .news__right

	&__right {
		display: grid;
		grid-template-areas: 
		'up up'
		'low-left low-right';
		gap: 25px;

		.img1 {
			grid-area: up;
			
			img {
				width: 100%;
			}
		}

		.img2 {
			grid-area: low-left;
			img {
				width: 100%;
			}
		}

		.img3 {
			grid-area: low-right;
			img {
				width: 100%;
			}
		}
	}
}

.table {
	display: grid;
	grid-template: repeat(3, 1fr) / 1fr 4.5fr;
	max-width: 445px;
	div {
		border: 1px solid #282828;
		text-align: center;
	}

	div:nth-child(odd){
		border-left: none;
	}
	div:first-child, div:nth-child(2) {
		border-top: none;
	}
	div:nth-child(even) {
		border-right: none;
	}
	div:last-child, div:nth-last-child(2) {
		border-bottom: none;
	}

	// .table__year

	&__year {
		display: flex;
		justify-content: center;
		align-items: center;
		color: #282828;
		font-size: 14px;
		line-height: 150%;
	}

	// .table__body

	&__body {
	
	}

	// .table__title

	&__title {
		color: #282828;
		font-family: 'Playfair Display';
		font-weight: 700;
		font-size: 18px;
		line-height: 150%;
	}

	// .table__text

	&__text {
		color: #282828;
		font-size: 14px;
		line-height: 150%;
	}
}
.btn-3 {
	
}
.img1 {
}
.img2 {
}
.img3 {
}


// section degustation


.degustation {
	background-color: #282828;
	color: #fff;
	padding: 130px 0 100px;
	// .degustation__content

	&__content {
		border: 3px solid #C4C4C4;
		text-align: center;
		padding-bottom: 80px;
	}

	// .degustation__title

	&__title {
		display: inline-block;
		padding: 15px 40px;
		background-color: #282828;
		text-align: center;
		margin-top: -55px;

		font-family: 'Playfair Display';
		font-weight: 700;
		font-size: 2.25rem;
		line-height: 150%;

	}

	// .degustation__line

	&__line {
		max-width: 118px;
		margin-bottom: 40px;
	}

	// .degustation__text

	&__text {
		margin: 0 auto 80px;
		max-width: 540px;
		text-align: center;
		font-size: 16px;
		line-height: 150%;
	}
}

.grape {
	margin: 60px 0 -170px 11%;
}
.barrel {
	margin: 65px 0 -150px 44%;
}
.btn-4 {
	border: 1px solid #fff;
	background-color: #282828;
	color: #fff;
	width: 100%;
	height: 40px;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 5%;
}

.form {
	max-width: 540px;
	margin: 0 auto;
}

.form > input {
	margin-bottom: 50px;
}

.info {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

input {
	display: block;
	background-color: #282828;
	width: 100%;
	height: 30px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #fff;
	color: #fff;
	font-weight: 500;
	font-size: 13px;
	line-height: 150%;
}

.info input {
	flex: 0 1 255px;
}


// footer

.footer {
	padding: 50px 0 50px;
	background-color: #998431;
	a{
		color: #fff;
		text-decoration: none;
		font-size: 14px;
		line-height: 150%;
	}
	// .footer__content-up

	&__content-up {
		border-top: 1px solid #fff;
		padding: 20px 0;
	}

	// .footer__row-up

	&__row-up {
		display: flex;
		justify-content: space-between;
		max-width: 922px;
		margin: 0 auto;
	}

	// .footer__content-low

	&__content-low {
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
	}

	// .footer__row-low

	&__row-low {
		display: flex;
		height: 100%;
		justify-content: space-between;
		max-width: 922px;
		margin: 0 auto;
		>div{
			border-right: 1px solid #fff;
			padding: 17px 60px 16px 0;
			a {
				text-transform: uppercase;
			}
		}
		>div:last-child {
			border: none;
			padding-right: 0;
		}
	}
}

.social {
	display: flex;
	justify-content: space-around;
	div {
		margin-left: 20px;
	}
}